/*
 * Variable Set for the Project
 * Made by JP Casabianca
*/

/*
  FONTS
*/
$gotham-rounded-book: 'Gotham Rounded Book', helvetica, sans-serif;
$gotham-rounded-light: 'Gotham Rounded Light', helvetica, sans-serif;
$gotham-rounded-medium: 'Gotham Rounded Medium', helvetica, sans-serif;
$proxima-nova-alt: 'Proxima Nova Alt Rg', helvetica, sans-serif;
$proxima-nova: 'Proxima Nova Rg', helvetica, sans-serif;
$proxima-nova-italic: 'Proxima Nova Italic', helvetica, sans-serif;
$proxima-nova-bold: 'Proxima Nova Bold', helvetica, sans-serif;

/*
  COLORS
*/
$color-red: #ff5d5c;
$color-yellow: #ffcd5e;
$color-gray-light: #e7f2f7;
$color-gray: #adc7db;
$color-gray-heavy: #85949e;
$color-gray-dark: #576672;
$color-blue: #2c4563;
$color-blue-heavy: #1a2a40;
$color-blue-dark: #272b2d;
$color-blue-black: #0c1623;
$color-purple-light: #9179f7;
$color-purple: #7650e9;
$color-green-light: #3eec82;
$color-green: #23c286;
$color-green-heavy: #1b7739;
$color-green-dark: #0b3f1a;

/*
  GLOBALS
*/
$border-radius: 12px;
$border-radius-small: 11px;
$sidebar-width: 300px;
$transition: all 0.3s ease-in-out;
