// Import all Base Styles and Helpers
@import 'base/all';
@import 'helpers/all';

// Import Fonts
@import '../fonts/webfonts/style.css';

// Import Icons
@import '../fonts/icons/style.css';

/*
  GLOBALS
*/
body {
  font-family: $proxima-nova;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $gotham-rounded-medium;
}

input {
  &:focus {
    outline: none;
  }
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 900px;
  position: relative;
}

.cont80 {
  width: 80%;
  margin: auto;
  max-width: 900px;
  position: relative;
}

.margin-right-small {
  margin-right: 10px;
}

.relative {
  position: relative;
}

.desktop,
.desktop-flex {
  display: none;
}

.text-center {
  text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.image-responsive {
  max-width: 600px;
  margin: auto;
}

@keyframes flashing-title {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.flashing-title {
  animation-name: flashing-title;
  animation-duration: 4s;
  display: block;
  opacity: 1;
  animation-iteration-count: infinite;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.color-green {
  color: $color-green;
}

@media (min-width: 992px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .desktop-flex {
    display: flex;
  }
}
